Create database [LibraryDB]
GO

USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2020/11/2 15:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](30) NOT NULL,
	[author] [nchar](30) NOT NULL,
	[press] [nchar](20) NOT NULL,
	[press_time] [nchar](10) NOT NULL,
	[price] [nchar](10) NOT NULL,
	[ISBN] [nchar](13) NOT NULL,
	[descs] [nvarchar](max) NULL,
	[times1] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Borrows]    Script Date: 2020/11/2 15:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrows](
	[book_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[borrow_date] [datetime2](7) NULL,
	[back_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2020/11/2 15:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[id] [nvarchar](11) NOT NULL,
	[pwd] [nchar](128) NOT NULL,
	[name] [nchar](15) NULL,
	[class] [nchar](15) NULL,
	[status] [tinyint] NOT NULL,
	[admin] [tinyint] NULL,
	[last_login_time] [datetime2](7) NULL,
	[times] [varchar](50) NULL,
	[times1] [int] NULL,
 CONSTRAINT [PK__user__3213E83FCA0FEF21] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

GO
INSERT [dbo].[Books] ([id], [name], [author], [press], [press_time], [price], [ISBN], [descs], [times1]) VALUES (1, N'民主的细节                         ', N'刘瑜                            ', N'上海三联书店              ', N'2009-6    ', N'25.00     ', N'9787542629586', N'这本书是作者过去几年给一些期刊报纸写的专栏文章结集，其中主要是给《南方人物周刊》的文章。全书中以讲故事的形式，把“美国的民主”这样一个概念性的东西拆解成点点滴滴的事件、政策和人物去描述。', 0)
GO
INSERT [dbo].[Books] ([id], [name], [author], [press], [press_time], [price], [ISBN], [descs], [times1]) VALUES (2, N'Java核心技术 卷I 基础知识              ', N'凯·S.霍斯特曼                      ', N'机械工业出版社             ', N'2019-12   ', N'119.50    ', N'9787544270878', N'Java领域极有影响力和价值的著作之一，与《Java编程思想》齐名，10余年全球畅销不衰，广受好评。
针对Java SE 9、10、11全面更新，系统全面讲解Java语言的核心概念、语法、重要特性和开发方法，包含大量案例，实践性强。', 17)
GO
INSERT [dbo].[Books] ([id], [name], [author], [press], [press_time], [price], [ISBN], [descs], [times1]) VALUES (3, N'数学之美(第二版)                     ', N'吴军                            ', N'人民邮电出版社             ', N'20-8      ', N'47.00     ', N'9787020042494', N'几年前，“数学之美”系列文章原刊载于谷歌黑板报，获得上百万次点击，得到读者高度评价。 正式出版前，吴军博士几乎把所有文章都重写了一遍，为的是把高深的数学原理讲得更加通俗易懂，让非专业读者也能领略数学的魅力。
　　《数学之美》*版上市后深受广大读者欢迎，并荣获国家图书馆第八届文津图书奖。读者说，读了《数学之美》，才发现大学时学的数学知识，比如马尔科夫链、矩阵计算，甚至余弦函数原来都如此亲切，并且栩栩如生，才发现自然语言和信息处理这么有趣。
　　而今，数学在信息产业中的应用越来越广泛，因此，作者在第二版中增加了一些内容，尤其是针对大数据和机器学习的内容，以便满足人们对当下技术的学习需求。', 18)
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
INSERT [dbo].[Borrows] ([book_id], [user_id], [borrow_date], [back_date]) VALUES (2, 88888, CAST(0x0700BB369B7CC2410B AS DateTime2), CAST(0x0700BB369B7CFF410B AS DateTime2))
GO
INSERT [dbo].[Borrows] ([book_id], [user_id], [borrow_date], [back_date]) VALUES (5, 10010, CAST(0x070000000000D33E0B AS DateTime2), CAST(0x07809A1B02A4DD3F0B AS DateTime2))
GO
INSERT [dbo].[Borrows] ([book_id], [user_id], [borrow_date], [back_date]) VALUES (6, 10010, CAST(0x070000000000D63E0B AS DateTime2), CAST(0x07809A1B02A4DD3F0B AS DateTime2))
GO
INSERT [dbo].[Users] ([id], [pwd], [name], [class], [status], [admin], [last_login_time], [times], [times1]) VALUES (N'10000', N'10000                                                                                                                           ', N'张三             ', N'计科1901         ', 1, 0, CAST(0x07E052E112012F410B AS DateTime2), N'11', 0)
GO
INSERT [dbo].[Users] ([id], [pwd], [name], [class], [status], [admin], [last_login_time], [times], [times1]) VALUES (N'10002', N'10002                                                                                                                           ', N'李四             ', N'计科1902         ', 1, 2, CAST(0x07D067C2A87030410B AS DateTime2), N'0', 61)
GO
INSERT [dbo].[Users] ([id], [pwd], [name], [class], [status], [admin], [last_login_time], [times], [times1]) VALUES (N'10010', N'10010                                                                                                                           ', N'王五             ', N'计科1903         ', 1, 0, CAST(0x07004A5AC482B1410B AS DateTime2), N'10', 14)
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_book_info_times_1]  DEFAULT ((1)) FOR [times1]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__bookuser__times__182C9B23]  DEFAULT ((20)) FOR [times]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0为挂失,1为正常' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0为普通用户,1为管理员' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'admin'
GO
